<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
		  <behavior name="DebugModeBehavior">
			  <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
			  <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
			  <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
			  <serviceDebug includeExceptionDetailInFaults="true"/>
			  <!--For UserPass Authentication-->
			  <serviceCredentials>
				  <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WebApplication2.ServiceAuthenticator, WebApplication2"/>
			  </serviceCredentials>
	
		  </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
	 
	  <bindings>

		  <wsHttpBinding>
		
			  <!-- configure wsHttp binding with Transport security mode and clientCredentialType as Certificate -->
			
			  <binding name="wsHttpBinding_LargeBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false"
	
					   transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="250000000" maxReceivedMessageSize="250000000" messageEncoding="Text"
	 
					   textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
				
				  <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
				
				  <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
				
				  <!--For UserPass Authentication-->
				
				  <security mode="TransportWithMessageCredential">
				
					  <message clientCredentialType="UserName" establishSecurityContext="false"/>
					
				  </security>
			
			  </binding>
			
		  </wsHttpBinding>
		
	  </bindings>
	  <services>
	
		  <service behaviorConfiguration="DebugModeBehavior" name="WebApplication2.TestService">
			
			  <endpoint address="endpointAVeryBigSum_BasicAuthentication" binding="wsHttpBinding"
	 
				bindingConfiguration="wsHttpBinding_LargeBinding" name="EndpointAVeryBigSum_BasicAuthentication"
	
				contract="WebApplication2.ITestService" />
		
			  <endpoint address="mex" binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_LargeBinding"
	
				name="mexEndpoint" contract="IMetadataExchange" />
		
		  </service>
		
	  </services>
  </system.serviceModel>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
		<add key="AVeryBigSum_User" value="AVeryBigSum"/>
		<add key="AVeryBigSum_Pass" value="12345"/>
	</appSettings>
</configuration>